body{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}
* { box-sizing: border-box; }
.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 330px !important;
    height: 190px;
}
.dropdown-menu .dropdown-item a{
    color: black !important;
}
.navbar{
    background-color: white;
}
.navbar-brand{
    font-size: 1.7rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 370;
    color: black !important;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white !important;
    background-color: black !important;
}

.social:hover{
    color: gray !important;
}
.footer-social a{
    color: white !important;
    font-size: 1.5rem;
}
.footer-social a:hover{
    color: yellow !important;
    font-size: 2rem;
}
.no-gutters {
    margin-right: -15px;
    margin-left: -15px;
 }
 .co-relative {
    position: relative;
    text-align: center;
    color: white;
  }
 .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 3.5rem;
 }
 
#fImage{
    filter: brightness(0.50);
}
.first-para{
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
}
.vdiscrip{
    font-size: 1.1rem;
} 
.btn-fpage, .btn-fpage:active, .btn-fpage:visited {
    background-color: #F62817 !important;
    color: white !important;
    font-size: 1.3rem;
    font-weight: 200;
    padding-left: 0%;
}
.btns .fa{
    padding-right: 100px;
}

.carousel-cell {
    margin-right: 20px;
    overflow: hidden;
  }
  
  .carousel-cell img {
    display: block;
    height: 200px;
  }
  
  @media ( max-width: 768px ) {
    .carousel-cell img {
      height: 400px;
    }

  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}
.carousel-indicators {
    bottom: -50px;
}
.container-fluid-margin{
    margin-top: 150px;
}

.footer-page{
    background-color: rgb(10, 10, 44);
    color: white;
}

@media ( max-width: 768px ) {
    .container-fluid-margin {
        margin: 0;
    }
    .footer-page .row{
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    .footer-page .subscribe-po{
        padding: 0 !important;
        margin: 0 !important;
    }
    .social{
        display: inline;
    }

  }

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon{
    background-color: black;
}

.subscribe-po{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1489110804417-276c3f517515?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    margin: 130px;
    padding: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 8px 8px 0px black;
    padding: -50px;
}
.subscribe-po h2{
    color: white;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
}
input[type=email] {
    border-radius: 10px;
    padding: 8px;
    border: 0 white;
}
input[type=email]:focus {
    outline: none;
}
.btn-default{
	border-radius: 10px;
    background-color: #F62817;
    color: white;
    padding: 8px;
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}

.modal-content{
    background-color: transparent;
}
.close{
    color: black;
    font-size: 48px;
    font-weight: bold;
    transition: .3s ease;
    cursor: pointer;
}
.close:hover, .close:focus{
    color: white;
    text-decoration: none;
}

.card-img-top{
    height: 300px;
    border-radius: 10px;
}

.search{
    background-color: rgba(243, 232, 232, 0.5);
    height: 50px;
}
.search:hover, .search:focus{
    background-color: rgba(243, 232, 232, 0.5);
    text-decoration: none;
    outline: none;
}

.input-group-append{
    background-color: gray;
}

.input-group-append i{
    color: white;
    
}

.pagination {
display: inline-block;
}

.pagination a {
color: #F62817;
padding: 8px 16px;
text-decoration: none;
}

.pagination a.active {
background-color: white;
color: black;
}


.sticky{
    position: -webkit-sticky;
    position: sticky;

}